/**********
 * COMMON *
 **********/

.bb-body {
  font-family: 'Nunito', sans-serif;
}

.bb-btn {
  color: #fff;
  background-color: #00695c;
  border-color: #00695c;
}

.bb-btn:hover {
  color: #fff;
  background-color: #00584d;
  border-color: #005248;
}

.bb-btn:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 105, 92, 0.25);
}

.bb-form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.1rem rgba(0, 105, 92, 0.25);
}

.hidden {
  display: none;
}

/*************
 * DROPDOWNS *
 *************/

/* Simple Dropdown */

.bb-dropdown .dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border: none;
}

.bb-dropdown .dropdown-item {
  margin-left: .25rem;
  margin-right: .25rem;
  width: auto;
  border-radius: .35rem;
}

.bb-dropdown .dropdown-item:active {
  color: inherit;
  background-color: rgba(0, 105, 92, 0.05);
}

.bb-dropdown .dropdown-item:hover {
  background-color: rgba(0, 105, 92, 0.05);
}

/* Arrow Dropdown */

.bb-dropdown>.nav-link:after {
  float: right;
  border: none;
  margin-left: 10px;
  font-weight: 900;
  text-align: center;
  width: 1.25em;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.bb-dropdown.show>.nav-link:after {
  content: '\f107';
}

.bb-dropdown.no-arrow .nav-link:after {
  content: none;
}

/* Indicator */

.bb-dropdown>.nav-link .indicator {
  position: absolute;
  top: 0;
  left: 22px;
  font-size: 10px;
}

/* Scroll Dropdown */

.bb-dropdown.bb-scroll-dropdown .dropdown-wrapper {
  height: 180px;
  width: 350px;
  overflow: hidden;
  position: relative;
}

.bb-dropdown .dropdown-header {
  padding-bottom: .75rem;
}

.bb-dropdown.bb-scroll-dropdown .dropdown-item {
  border-top: 1px solid #e9ecef;
  padding: .5rem 1rem;
  border-radius: 0;
  margin: 0;
}

.bb-dropdown.bb-scroll-dropdown .dropdown-menu {
  line-height: 1.5;
  padding-bottom: 0;
}

.bb-dropdown.bb-scroll-dropdown .dropdown-menu>.dropdown-item:last-child {
  background-color: #fafafa;
  text-align: center;
  border-bottom-right-radius: .35rem;
  border-bottom-left-radius: .35rem;
  padding-top: .75rem;
}

.bb-dropdown.bb-scroll-dropdown .dropdown-message {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dynamic Dropdown */

.bb-dropdown-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  text-align: center;
  color: #6c757d;
  line-height: 180px;
}

.dropdown-item.unread {
  font-weight: bold;
}

.dropdown-item.unread .small {
  font-weight: bold;
}

/***********
 * WRAPPER *
 ***********/

.bb-wrapper {
  background-color: #fcfcfc;
  position: fixed;
  left: 100px;
  top: 68px;
  right: 0;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: auto;
}

/**********
 * NAVBAR *
 **********/

.bb-navbar {
  line-height: 36px;
}

.bb-navbar-brand.navbar-brand {
  color: #00695c;
  font-weight: bold;
}

.bb-navbar-brand.navbar-brand:hover {
  color: #00695c;
  font-weight: bold;
}

.bb-navbar-nav .bb-dropdown .dropdown-menu {
  margin-top: 15px;
}

.bb-user-dropdown {
  border-radius: 50%;
}

.bb-user-dropdown img {
  height: 34px;
  border-radius: 50%;
}

/***********
 * SIDEBAR *
 ***********/

.bb-sidebar {
  background: rgb(0, 105, 92);
  background: linear-gradient(160deg, rgba(0, 105, 92, 1) 0%, rgba(0, 105, 92, 0.9) 100%);
  position: fixed;
  top: 68px;
  left: 0;
  bottom: 0;
  width: 100px;
  z-index: 1000;
}

/* First level */

.bb-sidebar-links {
  height: auto;
  text-align: center;
  padding: 0;
  list-style: none;
  position: relative;
}

.bb-sidebar-link {
  position: relative;
}

.bb-sidebar-link>a {
  color: rgba(255, 255, 255, .5);
  display: block;
  text-decoration: none;
  padding: 1rem;
}

.bb-sidebar-link-text {
  display: block;
  font-size: 0.7rem;
}

.bb-sidebar-link:hover>a {
  color: rgba(255, 255, 255, .75);
  background-color: rgba(0, 0, 0, .1);
}

.bb-sidebar-link.active>a {
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 4px 0 0 #FFFFFF;
  background-color: rgba(0, 0, 0, .05);
}

/* Second level */

.bb-sidebar-sublinks {
  display: none;
  list-style: none;
  padding: .25rem 0;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0 .35rem .35rem 0;
  border-left: none;
  width: max-content;
  min-width: 150px;
  text-align: left;
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.bb-sidebar-sublinks .dropdown-header {
  text-align: center;
}

.bb-sidebar-sublinks a {
  color: inherit;
  display: block;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: .25rem 1.5rem;
  border-radius: .35rem;
  line-height: 36px;
}

.bb-sidebar-sublinks a:hover {
  text-decoration: none;
  background-color: rgba(0, 105, 92, 0.05);
}

.bb-sidebar-sublink.active a {
  background-color: rgba(0, 0, 0, 0.05);
  color: #00695c;
  font-weight: bold;
}