@media (min-width: 768px) {

  /***********
   * SIDEBAR *
   ***********/

  .bb-sidebar.collapse {
    display: block;
  }

  .bb-sidebar-link:hover .bb-sidebar-sublinks {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
  }

}